<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

 	<property name="LOG_PATH" value="/usr/local/moa/logs"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <logger name="com.toypjt.demo"  level="INFO" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>